*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;    
}
ul{
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*COMMON CSS*/
/* .container {
    max-width: 1140px;
    margin: 0 auto;
} */

.txt-pm {
    color: #FD6E0A;
}
.btn-pm {
    font-size: 20px;
    font-weight: 700;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 15px 35px;
}


/* NAV CSS */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-tittle {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* HEADER CSS*/
.header {
    background-color: #fff8f3;
    padding-top: 30px;
}
.banner-section {
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-section .main-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0;
}
.banner-section img {
    width: 500px;
    height: aut0;
}
.banner-section .left-column {
    width: 585px;
}
.banner-section h3 {
    font-size: 45px;
    color: #474747;
    margin: 0;
    padding: 0;
}
.banner-section h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    padding: 5px 0;
}
.banner-section p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #757575;
    padding-bottom: 20px;
}