*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;    
}
ul{
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*COMMON CSS*/
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.txt-pm {
    color: #FD6E0A;
}
.btn-pm {
    font-size: 20px;
    font-weight: 700;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 15px 35px;
    cursor: pointer;
}
.cmn-heading {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

/* NAV CSS */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.nav-tittle {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* HEADER CSS*/
.header {
    background-color: #fff8f3;
    padding-top: 30px;
}
.banner-section {
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-section .main-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0;
}
.banner-section img {
    width: 500px;
    height: aut0;
}
.banner-section .left-column {
    width: 585px;
}
.banner-section h3 {
    font-size: 45px;
    color: #474747;
    margin: 0;
    padding: 0;
}
.banner-section h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    padding: 5px 0;
}
.banner-section p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #757575;
    padding-bottom: 20px;
}
.banner-section .btn-secondary {
        background: white;
        color: black;
        border: 1px solid #00000029;
        cursor: pointer;
}
.banner-section .btn-secondary:hover {
    background: #FD6E0A;
    color:  #ffffff;
    border: none;
    cursor: pointer;
}

/*ABOUT ME CSS*/
.about-me {
    margin: 130px 0;
}

.about-me p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    padding: 30px 0;
}
.about-me h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    /* padding: 30px 0; */
}
.about-me h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #474747;
    /* padding: 30px 0; */
}
.about-me .about-ext {
    background-color: #FFF8F3;
    padding: 100px 180px;
}
.about-me .main {
    background-color: #ffffff;
    text-align: center;
    /* max-width: 827px; */
    margin:  auto;
    border: 1px solid black;
    padding: 5px 8px;
}
.about-me .items {
    display: flex;
    justify-content: space-between;
}

/*WHAT I DO  CSS*/
.what-i-do .heding {
    text-align: center;
}
.what-i-do {
    margin-bottom: 50px;
}
.what-i-do .heading-p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #757575;
    max-width: 909px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 55px;
}
.what-i-do .items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.what-i-do .item {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.06);

}
.what-i-do h3 {
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    padding: 30px 0px;
}
.what-i-do p {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}

/* CONTACT FROM CSS*/
.contact {
    background-color: #FFF8F3;
}
.contact .main-column {
    display: flex;
    gap: 50px;
    padding: 100px 0px;
}
.contact .left-column {
    max-width: 565px;
}
.contact .right-column input[type="text"], input[type="email"], textarea {
    display: block;
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    color: #757575;
    padding: 18px 35px;
    margin-bottom: 25px;
    width: 100%;
}
.contact .right-column {
    width: 100%;
    padding-left: 30px;
}
.contact h2 {
    padding-bottom: 30px;
}
.contact .btn-secondary {
    background: white;
    color: black;
    border: 1px solid #00000029;
    cursor: pointer;
}
.contact .btn-secondary:hover {
    background: #FD6E0A;
    color:  #ffffff;
    border: 0;
    cursor: pointer;
}